#settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
}

#sliders{
  display:flex;
  flex-direction:column;
  gap:10px;
}

#options{
  display:flex;
  flex-flow: column wrap;
  gap:10px
}

